* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    margin-top: 150px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Poppins", SansSerif serif;
}

.container {
    display: flex;
    flex-direction: column;

    width: 500px;
    max-width: 100%;
    padding: 20px;
    border: 1px solid black;
}

h2 {
  margin-bottom: 25px;
    font-size: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-status {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-status-login {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}



/* Javascript Klassen */
.form-status.error input{
    border: red solid 1px;
}

.form-status.error p{
    opacity: 100%;
}

.form-status.succes input{
    border: green solid 1px;
}

.form-status.succes p {
    opacity: 0;
}

.form-status-login.error input{
    border: red solid 1px;
}

.form-status-login.error p{
    opacity: 100%;
}

.form-status-login.succes input{
    border: green solid 1px;
}

.form-status-login.succes p {
    opacity: 0;
}



p {
    font-size: 16px;
    opacity: 0;
    color: red;
}

label {
    font-size: 20px;
}

input {
    padding: 8px;
    font-size: 16px;
}

button {
    padding: 5px;
    font-size: 20px;
}


.form-switch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
}

.signup-button {
    font-size: 16px;
    margin-right: 10px;
    width: 100%;
}

.login-button {
    font-size: 16px;
    width: 100%;
}